#root {
  width: 90vw;
  height: 80vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.flex {
  display: flex;
  justify-content: space-between;
}
.cardFlex {
  display: grid;
  grid-template-columns: 80% 20%;
}
.itemFlex {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px 10px 10px 10px;
}
.taskCard {
  text-align: left;
  padding: 0 15px 15px 15px;
  margin: 0 10px 10px 10px;
  border-radius: 20px;
  border: 3px #fff solid;
}
.taskCard input {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.taskCard .remove input {
  margin: 20px 5px 0 5px;
  padding: 8px 20px 8px 20px;
  background-color: rgb(164, 25, 0);
  border: none;
  border-radius: 5px;
}
.taskCard .edit input {
  color: #272727;
  margin: 20px 5px 0 5px;
  padding: 8px 20px 8px 20px;
  background-color: rgb(18, 176, 0);
  border: none;
  border-radius: 5px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 30%;
  width: 100%;
  height: 100%;
}
.modal__content {
  background-color: rgb(136, 136, 136);
  margin: auto;
  padding: 20px;
  width: 40%;
  border-radius: 20px;
  color: #000;
}
.modal__content input {
  color: #000;
  background-color: #ffffffb7;
}
.modal__content input,
p,
h4 {
  margin: 5px 0 0 0;
}
.input_close input {
  margin: 0;
  background-color: #fff;
  padding: 5px 10px 5px 10px;
}
.input_save input {
  border-radius: 5px;
  margin: 0;
  background-color: rgb(37, 143, 2);
  padding: 5px 10px 5px 10px;
}
.textContainer input {
  padding: 5px 20px 5px 20px;
  margin: 5px 0 5px 0;
}
.buttonContainer input {
  padding: 5px 15px 5px 15px;
  margin: 10px 30px 5px 30px;
}

.inputs__container {
  position: absolute;
}
.textContainer h3 {
  margin: 0 0 0 0;
}
.textContainer {
  position: fixed;
}
.buttonContainer {
  right: 33px;
  top: 160px;
  position: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.task__content input {
  border-radius: 5px;
  margin: 5px 0 0 0;
  background-color: rgb(26, 47, 202);
  padding: 5px 10px 5px 10px;
}

.read-the-docs {
  color: #888;
}
